
html,
body,
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-size:62.5%;
    background-color: black;
}
.header {
    padding: 2rem;
    text-align: center;
    margin:25px 25px 50px 25px;
    background: black;
    color: white;
    font-size: 5rem;

  }

div {background-color: #100110;}
div a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 1.5rem;
  display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: white;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 20rem;
  display: none;
}
ul li ul li { 
  background: white; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: white;}


.parent {
    font-size: 5rem;
    display: flex;
    justify-content: space-evenly;

}


.container {
    display: inline-block;
    cursor: pointer;
  }
  
  
.clearfix::after {
  content: "Hello";
  clear: both;
  display: table;
}

.hamburger{
    border: 5px solid red;
    margin:25px 25px 50px 25px;
    border-radius: 1.5rem;
    box-shadow:10px 5px 5px plum;
    padding: 20px;
    width: 28%;
    background-image: url(img/hamburger1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    height: 40rem;
    text-align: center;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
    animation-name: hvr-buzz-out;
    animation-duration: 4s;

}

.Milkshake{
    border: 5px solid pink;
    margin:25px 25px 50px 25px;
    border-radius: 1.5rem;
    box-shadow:10px 5px 5px red;
    padding: 20px;
    width: 28%;
    background-image: url(img/milkshake.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 40rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    animation-name: hvr-buzz-out;
    animation-duration: 4s;

}

.Cheeseburger{
    border: 5px solid red;
    margin:25px 25px 50px 25px;
    border-radius: 1.5rem;
    box-shadow:10px 5px 5px plum;
    padding: 20px;
    width: 28%;
    background-image: url(img/cheeseburger.JPEG);
    background-size: cover;
    background-repeat:no-repeat;
    background-color: white;
    height: 40rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    animation-name: hvr-pulse-grow;
    animation-duration: 4s;

}

.PotatoChips{  
    border: 5px solid pink;
    margin:25px 25px 50px 25px;
    border-radius: 1.5rem;
    box-shadow:10px 5px 5px red;
    padding: 20px;
    width: 28%;
    background-image: url(img/chips.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 40rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    animation-name: hvr-ripple-in;
    animation-duration: 4s;
}
    
.Water{
    border: 5px solid red;
    margin:25px 25px 50px 25px;
    border-radius: 1.5rem;
    box-shadow:10px 5px 5px plum;
    padding: 20px;
    width: 28%;
    background-image: url(img/water.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 40rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    animation-name: hvr-pulse-grow;
    animation-duration: 4s;
}


.Nachos{
    border: 5px solid pink;
    margin:25px 25px 50px 25px;
    border-radius: 1.5rem;
    box-shadow:10px 5px 5px red;
    padding: 20px;
    width: 28%;
    background-image: url(img/Nachos.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 40rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    animation-name: hvr-ripple-in;
    animation-duration: 4s;
}

.Milk{    
    border: 5px solid red;
    margin:25px 25px 50px 25px;
    border-radius: 1.5rem;
    box-shadow:10px 5px 5px plum;
    padding: 20px;
    width: 28%;
    background-image: url(img/milk.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 40rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    animation-name: hvr-pulse-grow;
    animation-duration: 4s;
}


.Doritos{
    border: 5px solid pink;
    margin:25px 25px 50px 25px;
    border-radius: 1.5rem;
    box-shadow:10px 5px 5px red;
    padding: 20px;
    width: 28%;
    background-image: url(img/doritos.jfif);
    background-size: cover;
    background-repeat:no-repeat;
    height: 40rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    animation-name: hvr-ripple-out;
    animation-duration: 4s;
}

.gatorade{
    border: 5px solid red;
    margin:25px 25px 50px 25px;
    border-radius: 1.5rem;
    box-shadow:10px 5px 5px plum;
    padding: 20px;
    width: 28%;
    background-image: url(gatorade.jfif);
    background-size: cover;
    background-repeat:no-repeat;
    height: 40rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    animation-name: hvr-ripple-out;
    animation-duration: 4s;
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@-webkit-keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}